*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-degrade-dark: #292c35;
    --bg-color-degrade-dark2: #130e0e;
    --text-color-dark: #5e5ebe;
    --box-bg-color-dark: #222325;

    --bg-color-degrade-light: #bcedfc;
    --bg-color-degrade-light2: #87c9af;
    --text-color-light: #e47575;
    --box-bg-color-light: #dcebeb;
}

html, body {
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom, var(--bg-color-degrade-dark), var(--bg-color-degrade-dark2));
    color: var(--text-color-dark);
}

body.light {
    background: linear-gradient(to bottom, var(--bg-color-degrade-light), var(--bg-color-degrade-light2));
    color: var(--text-color-light);
}

form.light {
    background-color: var(--box-bg-color-light);
}

form {
    background-color: var(--box-bg-color-dark);
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    width: 500px;
    height: 450px;
    margin: 10px auto;
    text-align: center;
}

label {
    display: block;
    margin: 5px;
    padding: 10px;
}

input {
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

header {
    text-align: end;
}

header > button {
    margin: 15px;
    padding: 10px;
    appearance: none;

    background-color: rgb(90, 90, 90);
    border-color: #b094df;

    font-weight: bolder;

    border-radius: 15px;
}

header > button:hover {
    cursor: pointer;

    background-color: rgb(61, 61, 61);
}

header > button.Temalight:hover {
    cursor: pointer;

    background-color: rgb(187, 187, 187);
}

header > button::after {
    content: " 🌑";
}

button.Temalight {
    background-color: rgb(255, 255, 255);
    border-color: #111111;
    appearance: none;

}

button.Temalight::after {
    content: " 🌕";
}

button.light {
    background-color: var(--text-color-light);
}

button.light:hover {
    cursor: pointer;
    background-color: #a15b5b;
}

form > button:hover {
    cursor: pointer;
    background-color: #4c4c8a;
}

form > button {
    display: block;
    margin: 20px auto;
    padding: 4px 25px 4px 25px;

    background-color: var(--text-color-dark);
    color: #ffffff;
    appearance: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    appearance: none;
}